<!-- NOTE:  For now, ids are temporary and correspond to the original design document. -->

<div id="main-area">

	<!-- Area containing all main-view (dashboard) components.  z-index: 0, 100% height & width -->

	<div id="header" class="main800 shadow2">

		<div id="app-title-area">
			<span id="app-title-bold" class="text primary" style="font-weight: 500;">APP</span><span class="text primary" style="font-weight: 300;">Title</span>
		</div>

		<div id="header-btn-area">

			<button id="add-task" class="mt-btn-circle header-action accent200 shadow2" data-ng-click="">
				<span class="material-icons" style="color: white; font-size: 32px;">add</span>
			</button>

			<button id="refresh-tasks" class="mt-btn-circle header-action accent200 shadow2" data-ng-click="main.refreshTasks()">
				<span class="material-icons" style="color: white; font-size: 32px;">refresh</span>
			</button>
		</div>
	</div>

	<!--
	<div id="footer"></div>
	-->

	<div id="sidebar-area" class="main500 shadow2">
		<!-- area for all sidebar elements. z-index: 20, height: 100%, width: approx 20%, might need to be played w/. -->
	</div>

	<div id="task-area-wrapper" class="n050">
		<div id="task-area" class="n050" data-ng-controller="tasks_ctrl as tasks">
			<!-- area for all task cards.  z-index: 10, height: 100%, width: whatever is left after sidebar has been decided. -->
			<div data-ng-repeat="task in tasks.task_list track by $index">
				<task-card task="task"></task-card>
			</div>
		</div>
	</div>



</div>
